.layout-wrapper {
    display: flex;
    height: 100vh;
    .appbar {
        .appbar-content {
            background: #272930;
            height: 70px;
            color: white;
            display: flex;
            .center-content {
                border-right: 1px solid #7c7f85;
                width: 79%;
                display: flex;
            }
            .bar-links {
                width: 60%;
                display: flex;
                align-items: center;
                margin-left: 20px;
                .bar {
                    font-size: 22px;
                }
                .links {
                    ul {
                        display: block;
                    }
                    li {
                        display: inline-block;
                        margin-right: 40px;
                        font-weight: 600;
                        font-size: 15px;
                    }
                }
            }
            .search {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 38%;
                input {
                    margin-right: 20px;
                    height: 25px;
                    width: 250px;
                    border: 1px solid #202228;
                    border-radius: 3px;
                    background: #202228;
                    color: white;
                    font-size: 15px;
                    padding: 2px 15px;
                    outline: none;
                }
                input:focus {
                    border: 1px solid #7c7f85;
                }
                input::placeholder {
                    color: #7c7f85;
                    font-style: italic;
                    font-size: 13px;
                }
            }
            .right-content {
                width: 21%;
            }
        }
    }
    .sidebar {
        width: 17%;
        .topper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            background: #272930;
            height: 70px;
            border-right: 1px solid #7c7f85;
            .logo-image {
                display: block;
                width: 100%;
                line-height: 0;
                text-align: center;
                font-size: 30px;
                font-weight: bolder;
                color: #2d2de4;
                font-style: italic;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                .white-span {
                    color: white;
                }
            }
        }
        .others {
            border-right: 1px solid #e9eaea;
            height: calc(100vh - 70px);
            background: #f2f2f2;
            display: flex;
            flex-wrap: wrap;
            .links {
                height: 70%;
                width: 100%;
                ul {
                    padding-top: 35px;
                    width: 100%;
                }
                .normal-link {
                    color: #26333b;
                    cursor: pointer;
                }
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding-bottom: 20px;
                }
                .name {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 15px;
                }
                .icon {
                    width: 20%;
                    .f-icon {
                        font-size: 22px;
                    }
                }
                .active-link {
                    color: #2d2de4;
                    cursor: pointer;
                }
            }
            .footer {
                height: 30%;
                width: 100%;
                display: flex;
                align-items: center;
                ul {
                    width: 100%;
                }
                .normal-link {
                    color: #26333b;
                    cursor: pointer;
                }
                li {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                }
                .name {
                    display: inline-block;
                    font-weight: 600;
                    font-size: 15px;
                }
                .icon {
                    width: 20%;
                    .f-icon {
                        font-size: 22px;
                    }
                }
            }
        }
    }
    .content-wrapper {
        width: 900px;
        width: 83%;
    }
}