.main-wrapper {
    height: calc(100vh - 70px);
    display: flex;
    background: #f2f2f2;
    .main-section {
        width: 79%;
        border-right: 1px solid #e9eaea;
        height: calc(100vh - 70px);
        .wrap-background {
            background: white;
            height: calc(100vh - 70px);
            margin-right: 10px;
            border-right: 1px solid #e9eaea;
        }
        .body-details {
            height: calc(100vh - 70px);
            overflow-y: auto;
        }
    }
    .right-section {
        width: 21%;
        height: calc(100vh - 70px);
        .wrap-background {
            background: white;
            height: calc(100vh - 70px);
        }
        .header {
            height: 60px;
            border-bottom: 1px solid #e9eaea;
            border-top: 1px solid white;
            display: flex;
            justify-content: space-around;
            align-items: center;
            button {
                height: 33px;
                width: 200px;
                background: #2d2de4;
                border: none;
                border-radius: 3px;
                color: white;
                font-weight: 600;
                cursor: pointer;
            }
            button:hover {
                background: #101091;
            }
        }
        .body-details {
            height: calc(100vh - 132px);;
        }
    }
}
